mlops-zoomcamp/
mlruns/
__pycache__/
test.py
.env
mlflow.db
.claude/
CLAUDE.md
.pytest_cache/

# bash files used for local testing
scripts/

# Artifacts cached locally
data/
models/

# Terraform files
.terraform/
*.tfstate.*
